<h2 style="margin: auto"> {{ 'role.management' | translate }} </h2>
<form [formGroup]="listForm" (ngSubmit)="searchRole()">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <mat-form-field>
      <input matInput formControlName="text" placeholder="{{'role.management.search'|translate}}" name="text" id="text">
      <mat-hint align="center">{{'role.management.search.hint'|translate}}</mat-hint>
    </mat-form-field>
    <button mat-fab color="primary">
      <!--{{'btnSearch'|translate}}-->
      <mat-icon>search</mat-icon>
    </button>
    <div fxLayoutAlign="space-around center">
      <app-filter (clientIdEmmit)="filterRoleByClientId($event)"></app-filter>
    </div>
  </div>
</form>

<div class="container mat-elevation-z8">
  <mat-table #table [dataSource]="roles">

    <ng-container matColumnDef="stt">
      <mat-header-cell *matHeaderCellDef> {{'role.management.table.no'|translate}} </mat-header-cell>
      <mat-cell *matCellDef="let role; let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="clientId">
      <mat-header-cell *matHeaderCellDef> {{'role.management.table.clientId'|translate}}  </mat-header-cell>
      <mat-cell *matCellDef="let role"> {{role.clientId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roleName">
      <mat-header-cell *matHeaderCellDef> {{'role.management.table.roleName'|translate}}  </mat-header-cell>
      <mat-cell *matCellDef="let role"> {{role.roleName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> {{'role.management.table.description'|translate}}  </mat-header-cell>
      <mat-cell *matCellDef="let role"> {{role.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="addEdit">
      <mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="primary" (click)="addRole()">
        <!--{{'btnAdd'|translate}}-->
        <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let role">
        <button mat-raised-button color="primary" (click)="editRole(role)">
          <!--{{'btnEdit'|translate}}-->
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let role">
        <button mat-raised-button color="primary" (click)="deleteRole(role)">
          <!--{{'btnDelete'|translate}}-->
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="addPermission">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let role">
        <button mat-raised-button color="accent" (click)="addPermission(role)">
          <mat-icon>people</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator (page)="getPage($event)"
                 [length]="search.totalElements"
                 [pageSize]="search.pageSize"
                 [pageSizeOptions]="pageSizeOption">
  </mat-paginator>
</div>
