.container {
  display: flex;
  flex-direction: column;
  //max-height: 700px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  //max-height: 580px;
}

mat-form-field {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
  width: calc(80% - 2.5rem - 2.5rem);
}

.cdk-column-addEdit, .cdk-column-delete {
  max-width: 70px;
  padding-left: 2%;
}
.mat-column-appType,.mat-column-clientId {
  max-width: 100px;
  padding-left: 2%;
}

.mat-column-url{
  max-width: 200px;
  padding-left: 2%;
}

mat-header-cell:first-child, mat-cell:first-child {
  max-width: 50px;
  padding-left: 2%;
}
